body {
  background: #000;
  text-align: center;
}

#drum-machine {
  min-width: 220px;
  max-width: 600px;
  background-color: #7d7d7e;
  color: #fbff00;
  border: 3px solid rgb(78, 75, 75);
  border-bottom: 0;
  border-right: 0;
  padding: 0.8rem;
  margin: auto;
  font: bold 2rem "Roboto", sans-serif;
  text-shadow: -2px -2px 1px #000;
}

#display {
  margin-bottom: 1rem;
  min-height: 1rem;
}

#display:hover {
  color: #3cff00;
}

.drum-pads {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30%, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.6rem;
  background-color: #5d5d5f;
  border: 3px solid #000;
  box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  margin: auto;
  text-align: center;
}

.drum-pads .drum-pad::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: middle;
}

.drum-pad {
  cursor: pointer;
  background: #303135;
  border: 2px solid #3cff00;
  box-shadow: -8px 6px 6px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.drum-pad:hover {
  color: #fbff00;
  border: 2px solid #ff006a;
  box-shadow: -3px -2px 2px #000, 3px -6px 5px rgba(255, 255, 255, 0.3);
}

.drum-pad:active,
.pressed-key {
  color: #fff;
  border: 2px solid #0099ff;
}

.madewithlove {
  margin-top: 1rem;
  font: normal 1.2rem "Roboto", sans-serif;
  color: #fbff00;
}

.madewithlove a {
  color: #fbff00;
  text-decoration: none;
}

.madewithlove a:hover {
  color: #3cff00;
  text-decoration: underline;
}

.madewithlove__heart:hover {
  color: #ff006a;
}
